.header_color{
    background-color: #272d4e!important;
}

.logo{
    padding: 0px 15px!important;
}

.btn_calcule{
 background-color: #0078AE;
}

.btn_login{
    background-color: #8DC63F;
}

.footer_color{
    background-color: #414B82!important;
}

.shadow-slider{
    text-shadow: 2px 2px 3px #000;
}

.como_funciona{
    color: #616161;
}

.icons{
    color: #3a6595 !important;
}

.quem_somos_text{
    padding-top: 10%!important;
}

.max_altura{
    max-height: 100px!important;
    min-width:70px ;
    max-width: 90px; ;
}

.new{
    content: none!important;
}