.header_color{
    background-color: #fff!important;
}
.menu_text{
    color: #555!important;
}

.logo{
    padding: 0px 15px!important;
}

.btn_calcule{
 background-color: #0078AE;
}

.btn_login{
    background-color: #8DC63F;
}

.footer_color{
    background-color: #3FA17C !important;
}

.shadow-slider{
    text-shadow: 2px 2px 3px #000;
}

.como_funciona{
    color: #616161;
}

.icons{
    color: #3a6595 !important;
}

.quem_somos_text{
    padding-top: 10%!important;
}

.max_altura{
    max-height: 100px!important;
    min-width:70px ;
    max-width: 90px; ;
}

.indicators{
    display: none!important;
}

.logo_header{
    max-height: 60px;
    max-width: 100%;
    height: auto !important;
}

.label_erro{
    background-color: #95191a;
}

.label_sucesso{
    background-color: #359510;
}

.text-false{
    color: #95191a;
}

.table_deleted{background-color: #efeef0}


.btn_blue{
    background-color: #3042A5!important;
}

/*PARA INSTAGRAM*/
.insta{
    background-color: #555555;
    padding: 20px;
    text-align: center;
}
.insta h1{
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    font-weight: bold;
}
.insta span{
    color: #2DD495;
}
.insta h3{
    font-size: 1em;
    text-align: left;
}
.insta ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.insta ul li{
    display: inline;
    padding-left: 4px;
}